.product-jump { line-height: 1.5; display: block; padding: 10px 0; width: 200px; text-align: center; border: 1px solid #ccc; float: left; margin: 0 10px 10px 0; }
.product-jump:hover { text-decoration: none; background: #eee; }
.product-jump .product-title { display: block; font-size: 16px; color: #333; }